<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://cdn.edisonlee55.com/resources/fonts/Avenir.css" rel="stylesheet" type="text/css">

<style>
    :root {
        --zh-font-family: "Noto Sans TC", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
        --base-font-family: "Avenir", "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    }
</style>
